*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

width:100vw;
height:100vh;

overflow:hidden;

font-family:
'Montserrat',
Arial,
sans-serif;

background:#000;

color:white;

}

#space{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

z-index:-1;

background:

radial-gradient(
circle at center,
#101b3a,
#020617 60%,
#000 100%
);

}

.scene{

height:100vh;

width:100vw;

display:flex;

align-items:center;

justify-content:center;

flex-direction:column;

text-align:center;

padding:30px;

}

.content,
.letter{

background:

rgba(255,255,255,.08);

backdrop-filter:

blur(20px);

border:

1px solid rgba(255,255,255,.15);

padding:45px;

border-radius:30px;

box-shadow:

0 0 80px rgba(255,255,255,.12);

}

h1{

font-size:60px;

line-height:1.2;

text-shadow:

0 0 30px rgba(255,255,255,.4);

}

h2{

font-size:45px;

}

p{

margin-top:25px;

font-size:24px;

line-height:1.7;

}

button{

margin-top:40px;

padding:

18px 50px;

font-size:20px;

border:none;

border-radius:50px;

cursor:pointer;

background:white;

color:#111;

transition:.4s;

}

button:hover{

transform:scale(1.1);

box-shadow:

0 0 50px white;

}

.hidden{

display:none;

}

/* ЗВЕЗДА */

.bigStar{

width:220px;

height:220px;

border-radius:50%;

background:

radial-gradient(

circle,

white,

#fff2a8 25%,

#ffc400 60%,

#ff8500

);

box-shadow:

0 0 40px white,

0 0 100px gold,

0 0 200px orange;

animation:

starPulse 3s infinite;

}

.starName{

margin-top:50px;

font-size:100px;

letter-spacing:15px;

text-shadow:

0 0 30px gold,

0 0 80px orange;

}

.letter{

max-width:800px;

animation:

appear 3s;

}

@keyframes starPulse{

0%{

transform:scale(1);

}

50%{

transform:scale(1.12);

}

100%{

transform:scale(1);

}

}

@keyframes appear{

from{

opacity:0;

transform:translateY(80px);

}

to{

opacity:1;

transform:none;

}

}

max-width:700px{

h1{

font-size:38px;

}

h2{

font-size:30px;

}

.starName{

font-size:55px;

letter-spacing:5px;

}

p{

font-size:18px;

}

.content,
.letter{

padding:30px;

}

.bigStar{

width:130px;

height:130px;

}

}
